@charset "ISO-8859-1";

input[type="submit"]:active {
	display: inline;
	background-color: #c7c5c5;
	width: 200px;
	height: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	cursor: pointer;
	font-family: garamond;
	font-variant: small-caps;
}

h1{
	margin-bottom: 25px; 	
	font-family: Verdana;
	font-variant: small-caps;
}

p{
	margin-bottom: 20px;
	font-family: Helvetica;
	font-variant: small-caps;
}

input[type="submit"]:hover {
	display: inline;
	background-color: #c7c5c5;
	width: 200px;
	height: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	cursor: pointer;
	font-family: garamond;
	font-variant: small-caps;
}

input[type="submit"] {
	display: inline;
	background-color: #c7c5c5;
	width: 200px;
	height: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	cursor: pointer;
	font-family: garamond;
	font-variant: small-caps;
}

body {
	text-align:center;
	background-color: #ffeebf;
}