<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Land of Dead Gods</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>This is the change log page for the game. Here, you can read about all updates.</h1>
	<h2>Initial Release 1.0</h2>
	<p>This is the initial release of the game. It's specifically made as my class project without any extra features added.<p>
			<form th:action="@{/menu}" method="post">
		<input type="submit" value="Go back to the main menu">
	</form>
</body>
</html>