<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Land of Dead Gods</title>
<script th:src="@{/StoryApp.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>The Character Creator</h1>

	<h2>Race Information</h2>

	<ul>
		<li th:each="race : ${races}"><strong th:text="${race.name}"></strong>:
			<span th:text="${race.description}"></span></li>
	</ul>

	<h2>Background Information</h2>
	<ul>
		<li th:each="background : ${backgrounds}"><strong
			th:text="${background.name}"></strong>: <span
			th:text="${background.description}"></span></li>
	</ul>

	<h2>The Builder</h2>

	<form th:action="@{/charCreated}" method="post">
		<label for="firstName">First Name:</label> <input type="text"
			id="firstName" name="firstName" required /> <br> <label
			for="lastName">Last Name:</label> <input type="text" id="lastName"
			name="lastName" required /> <br> <label for="age">Age:</label>
		<input type="text" id="age" name="age" required /> <br> <label
			for="race">Race:</label> <select id="race" name="race"
			onchange="updateRaceDescription()">
			<option th:each="race : ${races}" th:value="${race.id}"
				th:text="${race.name}"></option>
		</select><br> <label for="pronouns">Pronouns:</label> <select
			id="pronouns" name="pronouns">
			<option th:each="pronouns : ${pronouns}" th:value="${pronouns.id}"
				th:text="${pronouns.pronouns}"></option>
		</select><br> <label for="genderExpressions">Gender Expression:</label> <select
			id="genderExpressions" name="genderExpressions">
			<option th:each="genderExpressions : ${genderExpressions}"
				th:value="${genderExpressions.id}"
				th:text="${genderExpressions.gendexp}"></option>
		</select><br> <label for="hairColors">Hair Color:</label> <select
			id="hairColors" name="hairColors">
			<option th:each="hairColors : ${hairColors}"
				th:value="${hairColors.id}" th:text="${hairColors.color}"></option>
		</select> <br> <label for="eyeColors">Eye Color:</label> <select
			id="eyeColors" name="eyeColors">
			<option th:each="eyeColors : ${eyeColors}" th:value="${eyeColors.id}"
				th:text="${eyeColors.color}"></option>
		</select> <br> <label for="height">Height:</label> <input type="text"
			id="height" name="height" onchange="updateBackgroundDescription()"
			required /> <br> <label for="backgrounds">Background:</label> <select
			id="backgrounds" name="backgrounds">
			<option th:each="backgrounds : ${backgrounds}"
				th:value="${backgrounds.id}" th:text="${backgrounds.name}"></option>
		</select> <br> <br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>