<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link rel="stylesheet" type="text/css" th:href="@{/menu.css}" />
<head>
<title>Land of Dead Gods</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome to the Land of Dead Gods</h1>
	<p>Welcome to the main menu for the text-based browser game- Land
		of Dead Gods.</p>
	<p>
		Land of Dead Gods is a text-based, choose-your-own-adventure style
		web-browser based game. <br> While the story takes some
		inspirations from various media, the core of it is a completely
		original story. <br> This game is mainly a school project,
		however, I hope to work on it on-and-off and, hopefully, turn it into
		a full game at some point.
	</p>
	<p id="spacing">Please select one of the following options:</p>
	<div th:if="${character.isPresent()}">
		<form th:action="@{/continue}" method = "get">
			<input type="submit" value="Continue">
		</form>
		<form th:action="@{/character/show}">
			<input type="submit" value="Show Character">
		</form>
	</div>
	<div th:unless="${character.isPresent()}">
		<form th:action="@{/character/customiser}">
			<input type="submit" value="Start a New Game">
		</form>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<div th:if="${character.isPresent()}">
		<form th:action="@{/character/delete}" method="POST">
			<input type="submit" value="Delete Character" />
		</form>
	</div>
</body>
</html>