<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<link rel="stylesheet" type="text/css" th:href="@{/menu.css}" />
<head>
<title>Land of Dead Gods</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome to the Land of Dead Gods</h1>
	<p>Welcome to the main menu for the text-based browser game-
		Land of Dead Gods.</p>
	<p>
		Land of Dead Gods is a text-based, choose-your-own-adventure style
		web-browser based game. <br> While the story takes some
		inspirations from various media, the core of it is a completely
		original story. <br> This game is mainly a school project,
		however, I hope to work on it on-and-off and, hopefully, turn it into
		a full game at some point.
	</p>
	<p id="spacing">Please select one of the following options to continue into the game:</p>
	<form th:action="@{/newgameguest}">
		<input type="submit" value="Start new game as a Guest">
	</form>
	<form th:action="@{/register}">
		<input type="submit" value="Register">
	</form>
	<form th:action="@{/login}">
		<input type="submit" value="Login">
	</form>
		<form th:action="@{/changelog}">
		<input type="submit" value="Changelog">
	</form>
</body>
</html>