<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Continue?</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Are you sure?</h1>
	<p>When you start a new game as a guest, your progress won't be saved.</p>
	<p>If you'd like to register or already have an account, use the button below to go back to the main menu and use the "register" or "login" buttons.</p>
	<p>If you don't want your progress to be saved, use the button below to continue.</p>
	<form th:action="@{/menu}" method="post">
		<input type="submit" value="Main menu">
	</form>
		<form th:action="@{/introduction}" method="post">
		<input type="submit" value="Continue">
	</form>
</body>
</html>